<div *ngIf="!finished">
    <ng2-slim-loading-bar [color]="'white'" [height]="'1px'"></ng2-slim-loading-bar>
    <div class="id">
        {{ id }} {{ cardSet }}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="question">
                Look at the pictures and see if you can make a story with them.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="possible-images" >
                <div    *ngFor="let card of question?.cards" 
                        (click)="setActiveCard(card)"
                        class="image" 
                        [ngStyle]="{'background-image': 'url(assets/' + card.imageUrl + '.jpg)'}"
                        [ngClass]="{'active-card': activeCard === card}">
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="card1 != null">
        <div class="col-md-12">
            <div class="first-image">
                <div class="card-count">1</div>
                <div    class="image no-move" 
                        [ngStyle]="{'background-image': 'url(assets/' + card1?.imageUrl + '.jpg)'}">
                </div>
            </div>
            <div id="card2" 
                 class="image-box" 
                 [ngClass]="{empty: error && card2 === null, 'hover': activeCard && activeHover === 'card2'}"
                 (click)="clickToAddOrRemove('card2')"
                 (mouseover)="hover('card2')"
                 (mouseleave)="unhover()">
                <div class="card-count">2</div>
                <div class="image"
                     *ngIf="card2 !== null" 
                     [ngClass]="{'remove': activeRemoveHover === 'card2'}"
                     [ngStyle]="{'background-image': 'url(assets/' + card2?.imageUrl + '.jpg)'}">
                </div>
            </div>
            <div id="card3" 
                 class="image-box" 
                 [ngClass]="{empty: error && card3 === null, 'hover': activeCard && activeHover === 'card3'}" 
                 (click)="clickToAddOrRemove('card3')"
                 (mouseover)="hover('card3')"
                 (mouseleave)="unhover()">
                <div class="card-count">3</div>
                <div class="image" 
                     *ngIf="card3 !== null" 
                     [ngClass]="{'remove': activeRemoveHover === 'card3'}"
                     [ngStyle]="{'background-image': 'url(assets/' + card3?.imageUrl + '.jpg)'}">
                </div>
            </div>
            <div id="card4" 
                 class="image-box" 
                 [ngClass]="{empty: error && card4 === null, 'hover': activeCard && activeHover === 'card4'}" 
                 (click)="clickToAddOrRemove('card4')"
                 (mouseover)="hover('card4')"
                 (mouseleave)="unhover()">
                <div class="card-count">4</div>
                <div class="image" 
                     *ngIf="card4 !== null"
                     [ngClass]="{'remove': activeRemoveHover === 'card4'}"
                     [ngStyle]="{'background-image': 'url(assets/' + card4?.imageUrl + '.jpg)'}">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <div class="btn btn-default btn-lg" (click)="submit()">
                Finished!
            </div>
        </div>
    </div>
</div>
<div *ngIf="finished" class="margin">
    <div class="id">
        {{ id }} {{ cardSet }}
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="question">
                Well done!                
            </div>
        </div>
    </div>
</div>