<div *ngIf="!finished">
    <div class="row">
        <div class="col-md-12">
            <div class="question">
                Look at the pictures and see if you can make a story with them.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="possible-images" [dragula]='"first-bag"' [dragulaModel]='story.cards'>
                <div    *ngFor="let card of story.cards" 
                        (click)="setCurrent(card)"
                        class="image" 
                        [ngStyle]="{'background-image': 'url(assets/' + card.img + '.png)'}">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="first-image">
                <div class="beginning ">
                    Beginning
                </div>
                <div    class="image" 
                        [ngStyle]="{'background-image': 'url(assets/' + firstCard.img + '.png)'}">
                </div>
            </div>
            <div id="a1" class="image-box" [ngClass]="{empty: error && a1.length === 0}" [dragula]='"first-bag"' [dragulaModel]='a1'>
                <div class="image" *ngFor="let card of a1" [ngStyle]="{'background-image': 'url(assets/' + card.img + '.png)'}">
                </div>
            </div>
            <div id="a2" class="image-box" [ngClass]="{empty: error && a2.length === 0}" [dragula]='"first-bag"' [dragulaModel]='a2'>
                <div class="image" *ngFor="let card of a2" [ngStyle]="{'background-image': 'url(assets/' + card.img + '.png)'}">
                </div>
            </div>
            <div id="a3" class="image-box end" [ngClass]="{empty: error && a3.length === 0}" [dragula]='"first-bag"' [dragulaModel]='a3'>
                <div class="image" *ngFor="let card of a3" [ngStyle]="{'background-image': 'url(assets/' + card.img + '.png)'}">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <div class="btn btn-default btn-lg" (click)="setCurrent()">
                Finished!
            </div>
        </div>
    </div>
</div>
<div *ngIf="finished" class="margin">
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            Well done!
        </div>
    </div>
</div>