<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <div *ngIf="!this.id" class="full-width">
            <div class="form">       
                <form>
                    <div class="form-group">
                        <input class="form-control" type="text" #id>
                        <br/>
                        <select name="cardSet" id="cardSet" #cardSet>
                            <option value="A">A</option>
                            <option value="B">B</option>
                        </select>
                        <br/>
                        <span class="btn btn-default margin" (click)="setPlayerDetails(id.value, cardSet.value)">Submit</span>
                        <div class="error" *ngIf="error">
                            {{ error }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div *ngIf="this.startScreen" class="full-width">
            <div class="id">
                {{ id }} {{ cardSet }}
            </div>
            <div class="form">       
                <form>
                    <div class="form-group">
                        <span class="btn btn-default margin" (click)="countdown()">{{ countdownText }}</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<question class="col-md-12" *ngIf="!this.startScreen && this.id">