<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table class="table">
            <thead>
                <tr>
                    <th>PlayerId</th>
                    <th>Score</th>
                    <th>Time Taken</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of players" class="hover">
                    <td>{{ player.playerId }}</td>
                    <td>{{ player.score }}/{{ player.possibleScore }}</td>
                    <td>{{ player.timeTaken | number : '1.2-2' }} seconds</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>