<div class="container">
    <div class="col-md-12">
        <div class="question">
            Look at the pictures and see if you can make a story with them.
        </div>
    </div>
    <div class="col-md-12">
        <div class="possible-images" [dragula]='"row-bag"' [dragulaModel]='items'>
            <div *ngFor="let card of story.cards | slice:1" class="image">{{ card.pos }}</div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="first-image">
            <div class="image">{{ story.cards[0].pos }}</div>
        </div>
        <div class="ordered-images" [dragula]='"row-bag"'>
            
        </div>
    </div>
</div>