<div class="container">
    <div class="col-md-12">
        <div class="question">
            Look at the pictures and see if you can make a story with them.
        </div>
    </div>
    <div class="col-md-12">
        <div class="possible-images" [dragula]='"first-bag"'>
            <div *ngFor="let card of cards" class="image">{{ card.id }}</div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="ordered-images" [dragula]='"first-bag"'>
            <div class="image"></div>
        </div>
    </div>
</div>