<div class="container">
    <div *ngIf="!finished">
        <div class="col-md-12">
            <div class="question">
                Look at the pictures and see if you can make a story with them.
            </div>
        </div>
        <div class="col-md-12">
            <div class="possible-images" [dragula]='"first-bag"' [dragulaModel]='story.cards'>
                <div    *ngFor="let card of story.cards" 
                        class="image" 
                        [ngStyle]="{'background-image': 'url(assets/' + card.img + '.png)'}">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="first-image">
                <div    class="image" 
                        [ngStyle]="{'background-image': 'url(assets/' + firstCard.img + '.png)'}">
                </div>
            </div>
            <div id="a1" class="image-box" [dragula]='"first-bag"' [dragulaModel]='a1'>
                <div class="image" *ngFor="let card of a1" [ngStyle]="{'background-image': 'url(assets/' + card.img + '.png)'}">
                </div>
            </div>
            <div id="a2" class="image-box" [dragula]='"first-bag"' [dragulaModel]='a2'>
                <div class="image" *ngFor="let card of a2" [ngStyle]="{'background-image': 'url(assets/' + card.img + '.png)'}">
                </div>
            </div>
            <div id="a3" class="image-box" [dragula]='"first-bag"' [dragulaModel]='a3'>
                <div class="image" *ngFor="let card of a3" [ngStyle]="{'background-image': 'url(assets/' + card.img + '.png)'}">
                </div>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-10">
            <div class="btn btn-default" (click)="submit()">
                Submit
            </div>
        </div>
    </div>
    <div *ngIf="finished" class="margin">
        <div class="col-md-2 col-md-offset-5">
            Well done!
        </div>
    </div>
</div>