<div class="container">
    <div *ngIf="!finished">
        <div class="col-md-12">
            <div class="question">
                Look at the pictures and see if you can make a story with them.
            </div>
        </div>
        <div class="col-md-12">
            <div class="possible-images" [dragula]='"row-bag"' [dragulaModel]='story.cards'>
                <div    *ngFor="let card of story.cards" 
                        class="image" 
                        [ngStyle]="{'background-image': 'url(assets/' + card.img + '.png)'}">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="first-image">
                <div    class="image" 
                        [ngStyle]="{'background-image': 'url(assets/' + firstCard.img + '.png)'}">
                </div>
            </div>
            <div class="ordered-images" [dragula]='"row-bag"' [dragulaModel]='answer'>
                <div    *ngFor="let card of answer" 
                        class="image" 
                        [ngStyle]="{'background-image': 'url(assets/' + card.img + '.png)'}">
                </div>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-10">
            <div class="btn btn-default" (click)="submit()">
                Submit
            </div>
        </div>
    </div>
    <div *ngIf="finished" class="margin">
        <div class="col-md-2 col-md-offset-5">
            Well done!
        </div>
    </div>
</div>