.question {
  text-align: center;
  margin: 20px 0 10px;
}
.image {
  float: left;
  background-size: 100%;
  width: 200px;
  height: 150px;
  border: solid 1px #000;
  margin: 10px;
  transition: opacity 0.4s ease-in-out;
  border-radius: 5px;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  background-color: rgba(0, 0, 0, 0.2);
}
.image .ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}
.image .gu-mirror {
  float: none;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  width: 200px;
  height: 200px;
  display: block;
}
.handle {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}
.first-image {
  float: left;
}
.possible-images {
  float: left;
  height: 170px;
  width: 100%;
}
.image-box {
  float: left;
  width: 220px;
  background: #689F38;
  height: 170px;
  border-radius: 5px;
  margin-right: 10px;
}
.image-box .image {
  float: left;
}
.image-box.empty {
  animation-name: error;
  animation-duration: 1000ms;
}
@keyframes error {
  from {
    background: #FF4D4D;
  }
  to {
    background: #689F38;
  }
}
.btn {
  margin-top: 20px;
}
.overlay {
  color: #FFF;
  z-index: 1;
  width: 661px;
  text-align: center;
  height: 170px;
  line-height: 170px;
}
